header ul{
    list-style: none;
    padding-top: 15px;
}

header li {
    display: inline;
    text-decoration: none;
    margin-left: 3px;
    margin-right: 3px;
}

.eventHeading{
    padding: 10px;
    background: rgb(6, 117, 206);
    color: white;
    height: 125px;
}

.wrap1{
    padding: 1rem 5rem;
}

.card-img-overlay {
    background: rgba(0,0,0,0.8);
}

.card {
    height: 100%;
}

.card .btn-primary {
    background: rgb(6, 117, 206) !important;
}

.col-md-4 {
    margin-bottom: 30px;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 900px;
        margin: 1.75rem auto;
    }
    #applyNow .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}

.toast {
    color: black !important;
    opacity: 1 !important;
}
